<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- add key="servidor" value="http://192.168.0.25:8080" /-->
    <add key="servidor" value="https://worknest.cianet.mx/jeather/cartografico/" />
    <add key="ruta" value="C:\AplicacionQGIS\" />
    <!--add key="rutaQgis" value="C:\Program Files\QGIS 3.10\bin\qgis-ltr-bin.exe" /-->
    <add key="rutaQgis" value="C:\Program Files\QGIS 3.12\bin\qgis-bin.exe" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>